{
  "projects": {
    "default": "your-project"
  },
  "targets": {
    "your-project": {
      "hosting": {
        "e2e": [
          "your-SITE_ID-for-playwright"
        ],
        "jest": [
          "your-SITE_ID-for-jest-coverage"
        ]
      }
    }
  }
}