{
  "projects": {
    "default": "your-project"
  },
  "targets": {
    "your-project": {
      "hosting": {
        "e2e": [
          "playwright-report"
        ],
        "jest": [
          "coverage"
        ]
      }
    }
  }
}